
.app-bar {
    background-color: white !important;
    color: black !important;
    height: 100 !important;
  }
  
  .icon-button {
    margin-right: 16px !important;
  }
  
  .avatar {
    width: 40px !important;
    height: 40px !important;
  }
  
  .typography {
    flex-grow: 1 !important;
    font-size: 18px !important;
  }
  

  .autocomplete-container {
    width: 300px !important;
  }
  
  .autocomplete-container .MuiOutlinedInput-root {
    height: 40px !important;
  }
  
  .autocomplete-container .MuiInputBase-input {
    padding: 8px !important;
    font-size: 16px !important;
  }
  

  .right-avatar {
   
    width: 40px !important;
    height: 40px !important;
  }
  
  .icon {
    font-size: 24px !important;
  }

  @media (max-width: 1024px) {
    .avatar {
      width: 32px !important;
      height: 32px !important;
    }
  
    .typography {
      font-size: 16px !important;
    }

    .autocomplete-container{
        width: 200px !important;
    }
  
    
  
    .autocomplete-container .MuiOutlinedInput-root {
      height: 25px !important;
    }
  
    .autocomplete-container .MuiInputBase-input {
      font-size: 14px !important;
    }
  
    .right-avatar {
      width: 28px !important;
      height: 28px !important;
    }
  
    .icon {
      font-size: 18px !important;
    }
  }
  
  
  @media (max-width: 768px) {
    .avatar {
      width: 32px !important;
      height: 32px !important;
    }
  
    .typography {
      font-size: 14px !important;
    }
  
    .autocomplete-container {
      width: 200px !important;
    }
  
    .autocomplete-container .MuiOutlinedInput-root {
      height: 25px !important;
    }
  
    .autocomplete-container .MuiInputBase-input {
      font-size: 14px !important;
    }
  
    .right-avatar {
      width: 25px !important;
      height: 25px !important;
    }
  
    .icon {
      font-size: 15px !important;
    }
  }

  .list-item-primary {
    font-weight: bold !important;
    color: #333 !important;
    font-size: 1rem !important;
  }
  
  .list-item-primary-responsive {
    font-size: 0.9rem !important;
  }
  
  .list-item-message {
    color: #555 !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    font-size: 0.9rem !important;
  }
  
  .list-item-message-responsive {
    font-size: 0.75rem !important;
  }
  
  .list-item-date {
    display: block !important;
    color: #999 !important;
    text-align: right !important;
    margin-top: 5px !important;
    font-size: 0.75rem !important;
  }
  
  .list-item-date-responsive {
    font-size: 0.65rem !important;
  }

  
  
  @media (max-width: 768px) {
    .list-item-primary {
      font-size: 0.6rem !important;
    }
    .list-item-message {
      font-size: 0.45rem !important;
    }
    .list-item-date {
      font-size: 0.25rem !important;
    }
  }
  
  